.container_wrap {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}
.fixed {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
}
.header_bar {
    width: 90%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header_bar > .bar {
    display: none;
}

.header_logo {
    flex:1;
}

.nav_bar {
    flex: 5;
    height: inherit;
}
.header_serach {
    flex: 1;
}
.header_icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_list {
    width: 60%;
    height: inherit;
    margin: 0 0 0 auto;
    display: flex;

    justify-content: space-between;
    align-items: center;   
}

.nav_list-item {
    font-size: 20px;
    font-weight: bold;;
}
.nav_list-item > i {
    font-size: 18px;
}

@media (max-width: 800px) {
    .header_bar > .bar {
        flex: 5;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .nav_bar {
        display: none;
    }
}
